* {
  padding: 0;
  margin: 0;
}
/* #css variables */

/* #navigatio bar */

#navbar {
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Baloo Bhai 2", cursive;
}
#navbar ul {
  display: flex;
}
#navbar::before {
  content: "";
  background-color: grey;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 2.7;
}
#navbar ul li {
  list-style: none;
  font-size: 1.2rem;
}
#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 25px;
  margin: 13px 4px;
  border-radius: 13px;
  text-decoration: none;
}
#navbar ul li a:hover {
  color: black;
  background-color: rgba(241, 226, 178, 0.781);
  /* opacity: 2; */
}

/*Intro */

#intro {
  text-align: center;
  padding: 43px 200px;
  justify-content: center;
  font-family: "Baloo Bhai 2", cursive;
}
#intro::before {
  content: "";
  position: absolute;
  background: url(pexels-pixabay-326279.jpg) no-repeat center center/cover;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 2.7;
}
.container1 {
  color: white;
  font-size: 2.5rem;
}
#intro p {
  color: #eaeab9;
  font-size: 1.2rem;
  margin: 21px 2px;
}
#intro button {
  font-family: "Baloo Bhai 2", cursive;

  margin: -2px 2px;
  padding: 4px 8px;
  cursor: pointer;
  background-color: #b8c8c3a1;
  font-size: 1rem;
  border-radius: 12px;
}
#intro button:hover {
  background-color: grey;
  color: white;
}
/* my services section */
.servicecontainer h1 {
  text-align: center;
  color: white;
  font-size: 1.9rem;
}
#services {
  margin: 24px 24px;
  display: flex;
  padding: 12px 12px;
}
#services .box {
  display: block;
  border: 2px solid #ecebe496;
  /* margin: 12px 52px; */
  margin: auto;
  padding: 12px 12px;
  width: 349px;
  height: 338px;
  border-radius: 14px;
  color: white;
  /* box-shadow: ; */
}
#services .box p {
  text-align: center;
  padding: 12px 12px;
}
.box img {
  width: 271px;
  height: 181px;
  margin: -7px 22px;
  padding: 18px 12px;
}
.container2 {
  font-size: 1.5rem;
}
.box h2 {
  text-align: center;
}

/* client section */

/* #clients {
  display: flex;
  align-items: center;
  justify-content: center;
}
#clientsection {
  font-family: "Baloo Bhai 2", cursive;
  width: 344px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#clients img {
  width: 271px;
  height: 181px;
  margin: -7px 22px;
  padding: 18px 12px;
}
.clientprimary {
  text-align: center;
  color: white;
  font-size: 1.9rem;
}
.totalclients {
  padding: 12px 12px;  
} */

#clientsection {
  align-items: center;
  display: block;
}
#clientsection h2 {
  text-align: center;
  color: white;
  font-size: 1.9rem;
}
#clients {
  display: flex;
}
.totalclients img {
  width: 271px;
  height: 181px;
  margin: -7px 22px;
  padding: 18px 12px;
}
.clientdiv {
  display: flex;
  margin: 31px 62px;
  padding: 12px 12px;
}

/* responsive */
/* 
@media (max-width: 300px) {

   .container1{
       font-size: 1rem;
   }
   #intro{
       padding: 0px;
   }
   #services{

    display: block;
   }
   #navbar{
       align-items: center;
       justify-content: center !important;
   }
}

@media (min-width:300px) and (max-width: 500px) {

    #box2 {
        display: block;
        background-color: green;
    }
    
}

@media (min-width: 500px) and (max-width: 800px) {

    #box3 {
        background-color: blue;
        display: block;
    }
}

@media (min-width: 800px) {

    #box4 {
        color: black;
        background-color: yellow;
        display: block;
    } */

/* contact section */

.contactprimary {
  color: white;
  text-align: center;
  font-size: 1.9rem;
}

#contact {
  position: relative;
}
#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url(woodbackground.jpg) no-repeat center center/cover;
}
#contactbox input,
#contactbox textarea {
  width: 100%;
  padding: 2px 2px;
  border: 2px solid black;
  border-radius: 9px;
}
#contactbox form {
  width: 40%;
}
#contactbox label {
  width: 40%;
  font-size: 1.3rem;
  font-family: "Baloo Bhai 2", cursive;
}
#contactbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px;
  color: white;
}
.sbt {
  align-items: center;
  border: 2px solid black;
  display: block;
  border-radius: 4px;
  margin: auto;
  cursor: pointer;
  font-family: "Baloo Bhai 2", cursive;
}
.sbt:hover {
  background-color: grey;
  color: white;
}

/* footer */

.center {
  /* background-color: black; */
  color: white;
  text-align: center;
  padding: 2px 1px;
}
